# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-added-large-files
        args: ['--maxkb=5000']
    -   id: check-ast
    -   id: check-byte-order-marker
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
        exclude: .git/COMMIT_EDITMSG
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
    -   id: black
        exclude: (.*)/migrations
- repo: https://github.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
    - id: flake8
-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    -   id: seed-isort-config
-   repo: https://github.com/PyCQA/isort
    rev: 5.9.2
    hooks:
    -   id: isort
        args: ["--profile", "black"]
# -   repo: https://github.com/PyCQA/bandit
#     rev: 1.6.2
#     hooks:
#     - id: bandit
- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.17.13
  hooks:
    - id: commitizen
      stages: [commit-msg]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.910'  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
        args: [--no-strict-optional, --ignore-missing-imports]
